<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paso3</title>
    <link rel="stylesheet" href="../static/css/paso3.css"/>
    <link rel="icon" type="image/png" href="../static/img/logoGesgos.png" />
    <script src="https://unpkg.com/lucide@latest"></script>
  </head>
  <body>
    <header>
      <img src="../static/img/logoGesgos.png" alt="" class="logo" />
      <h1 class="titulo">Evaluacion PESV</h1>
      <div class="lista">
        <h4>Lista de chequeo</h4>
        <h4>Fuente: Resolución 40595 de 2022</h4>
        <h4>Ministerio de transporte</h4>
      </div>
    </header>

    <div class="container">
      <div class="subtitulo">
        HERRAMIENTA PARA EVALUACION DEL PLAN ESTRATEGICO DE SEGURIDAD VIAL SEGÚN
        LA RESOLUCIÓN 40595 DEL 2022<br /><br />
      </div>

      <div class="pasos">
        <button class="paso activo">
          <i data-lucide="building"></i>
          Paso 1: Misionalidad
        </button>
        <button class="paso">
          <i data-lucide="car"></i>
          Paso 2: Vehículos
        </button>
        <button class="paso ">
          <i data-lucide="file-text"></i>
          Paso 3: Resulados
        </button>
      </div>

      <div class="Contenido">
        <h2 class="Titulo2">Paso 3: Resultado de la evalucion PESV</h2>

        <p class="descripcion">
          <br />Resultado del nivel del PESV que le aplica a su organizacion
          segun la informacion diligenciada<br />
        </p>


        <div class="Resultado">
          <div class="subtituloResultado">
            EL NIVEL DE PESV QUE LE APLICA A LA ORGANIZACIÓN SEGÚN LA INFORMACIÓN DILIGENCIADA ES:
            <br/><br />
            <button class="Boton-estandar">ESTANDÁR</button>
          </div>
        </div>

        <div class="Niveles">
          <div class="Resultados basico">
            <div class="badge">BÁSICO</div>
            <div class="descripcion">1-19 Vehículos</div>
          </div>

          <div class="Resultados estandar">
            <div class="badge">ESTANDAR</div>
            <div class="descripcion">20-49 Vehículos</div>
          </div>
          
          <div class="Resultados avanzado">
            <div class="badge">AVANZADO</div>
            <div class="descripcion">50+ Vehículos</div>
          </div>
        </div>

        
   
        

          <div class="Boton-siguiente">
            <button class="Continuar">Iniciar Evaluación</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
